/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Window
{
	background-color: #dddddd;
}


mx|ToolTip 
{ 
	font-family: "Arial"; 
	font-size: 10; 
	color: #000000; 
	background-color: #ffffff;
	background-alpha: 0.9;
}